<mat-card class="container mt-4 mb-4" style="width:30%">
  <h2 class="text-center">Sign up</h2>
  <form #serverForm="ngForm"  (submit)="register()">
    <mat-form-field>
      <input matInput required placeholder="Username" type="text" pattern=".{1,32}" name="username" [(ngModel)]="dto.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Email" type="email" name="email" [(ngModel)]="dto.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Password" type="password" pattern=".{1,32}" name="password" [(ngModel)]="dto.password">
    </mat-form-field>
	<div class="text-center">
      <button mat-raised-button type="submit" style="background-color:#AAAAFF">Sign up</button>
	</div>
  </form> 
</mat-card>
