<mat-toolbar  style="color:#909090">
  <a class="toolbar-element" href="/"><img src="assets/pictures/title_logo.png" style="width:200px; height:50px"></a>

  <!--<a class="toolbar-element" style="margin-left:100px">Forum</a>-->
  
  <span class="fill-remaining-space"></span>

  <a class="toolbar-element" [hidden]="authenticated()" [routerLink]="['/sign-in']">Sign in</a>
  <a class="toolbar-element" [hidden]="authenticated()" [routerLink]="['/sign-up']">Sign up</a>
  <a class="toolbar-element" [hidden]="!authenticated()" (click)="logout()" style="color:blue;cursor:pointer;text-decoration:underline;">Log out</a>
</mat-toolbar>

<router-outlet></router-outlet>
